.wrapper {
	position: relative;
	top: 58px;
	padding-top: 50px;
	padding-bottom: 50px;
	/* background: #eceff1; */
	/* background: #343a40; */
	min-height: 80%;
	width: 80%;
	display: flex;
	flex-flow: row wrap;
	padding: 20px;
	justify-content: space-around;
	align-content: flex-start;
	overflow: auto;
	margin: 0 auto;
	/* z-index: -1; */
}
