.card {
	background: #343a40;
	border-radius: 5px;
	height: 200px;
	width: 200px;
	margin: 1rem;
	box-shadow: 0 3px 6px, 0 3px 6px;
	transition: all 0.1s ease-in-out;
	text-align: left;
}

.card>.img {
	height: 100%;
	cursor: pointer;
	position: relative;
}

.card>.img>img {
	width: 100%;
}

.card:hover {
	box-shadow: -3px 18px 20px 0px;
	width: 201px;
	height: 201px;
}