.footer {
	background: black;
	height: 30;
	position: relative;
	top: 75px;
	color: #fff;
	padding: 15px;
	overflow: auto;
	font-weight: bold;
	text-align: right;
}

#logo {
	height: 30px;
	width: 30px;
}
